/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --color-title: #DB00FF;
  --decoration-text: #000028;
  --bg-color: #000028;
  --bottom-color: #FF0070;
  --header-bg: #FF0070;
  --hover: rgba(255, 0, 112, 0.40);
}

.page.theme_dark .rec-style {
  display: block;
}
