.page.theme_dark {
  --accent-color: var(--primary-pink, #ff0070);
  --article-title-color: var(--deep-blue, #000028);
  --bg-color: var(--deep-blue, #000028);
  --bg-image: url('../images/cover-image-dark.png');
  --decor-color-transparent: var(--tertiary-pink-40, rgba(255, 0, 112, 0.4));
  --decor-color: var(--primary-pink, #ff0070);
  --header-text-color: var(--deep-blue, #000028);
  --hover-color: var(--neutral-grey, #353430);
  --section-title-color: var(--primary-pink, #ff0070);
  --text-color: var(--quaternary-pink, #f1b2ce);
  --title-color: var(--secondary-pink, #db00ff);
}

.page.theme_dark .rec-icon {
  display: block;
}


@media (prefers-color-scheme: dark) {

  :root {
      --accent-color: var(--primary-pink, #ff0070);
      --article-title-color: var(--deep-blue, #000028);
      --bg-color: var(--deep-blue, #000028);
      --bg-image: url('../images/cover-image-dark.png');
      --decor-color-transparent: var(--tertiary-pink-40, rgba(255, 0, 112, 0.4));
      --decor-color: var(--primary-pink, #ff0070);
      --header-text-color: var(--deep-blue, #000028);
      --hover-color: var(--neutral-grey, #353430);
      --section-title-color: var(--primary-pink, #ff0070);
      --text-color: var(--quaternary-pink, #f1b2ce);
      --title-color: var(--secondary-pink, #db00ff);
  }

  .rec-icon {
      display: block;
  }

}