.page.theme_light {
  --accent-color: var(--quinary-pink, #ff8dcb);
  --article-title-color: var(--neutral-grey, #353430);
  --bg-color: var(--septenary-pink, #fff1f7);
  --bg-image: url('../images/cover-image-light.png');
  --decor-color-transparent: var(--neutral-grey-40, rgba(53, 52, 48, 0.4));
  --decor-color: var(--neutral-grey, #353430);
  --header-text-color: var(--neutral-grey, #353430);
  --hover-color: var(--neutral-grey, #353430);
  --section-title-color: (--neutral-grey, #353430);
  --text-color: var(--neutral-grey, #f1b2ce);
  --title-color: var(--senary-pink, #ffc2e6);
}

.page.theme_light .rec-icon {
  display: none;
}


@media (prefers-color-scheme: light) {

  :root {
      --accent-color: var(--quinary-pink, #ff8dcb);
      --article-title-color: var(--neutral-grey, #353430);
      --bg-color: var(--septenary-pink, #fff1f7);
      --bg-image: url('../images/cover-image-light.png');
      --decor-color-transparent: var(--neutral-grey-40, rgba(53, 52, 48, 0.4));
      --decor-color: var(--neutral-grey, #353430);
      --header-text-color: var(--neutral-grey, #353430);
      --hover-color: var(--neutral-grey, #353430);
      --section-title-color: (--neutral-grey, #353430);
      --text-color: var(--neutral-grey, #f1b2ce);
      --title-color: var(--senary-pink, #ffc2e6);
  }

  .page.theme_light .rec-icon {
      display: none;
  }

}